<launch>
  <arg name="mav_name" default="firefly" />
  <arg name="flight_manager_ns" default="/flightManager" />
  <arg name="tf_planning_frame" default="world" />
  
  <node name="nbvPlanner" pkg="nbvplanner" type="nbvPlanner" output="screen">
    <param name="tf_frame" type="string" value="$(arg tf_planning_frame)" />
    <param name="resolution" type="double" value="0.4" />
    <param name="use_history" type="bool" value="true" />
    <param name="sensor_max_range" type="double" value="2.0" />
    <remap from="cam0/camera_info" to="/cam0/camera_info" />
    <remap from="cam1/camera_info" to="/cam1/camera_info" />
    <remap from="pointcloud0" to="/stereo_dense_reconstruction/pcl" />
    <remap from="pose0" to="$(arg mav_name)/fcu/pose" />
    <remap from="nbvplanner0" to="$(arg flight_manager_ns)/nbvplanner" />
    <rosparam command="load" file="$(find nbvplanner)/resource/vicon.yaml" />
  </node>
  
</launch>
