<launch>
  <arg name="mav_name" default="euroc6" />
  <arg name="enable_logging" default="false" />
  <arg name="resolution" default="0.3" />
  <arg name="visualize_max_z" default="3.0" />
  <arg name="sensor_max_range" default="5.0" />
  <arg name="tf_planning_frame" default="world" />

<!--group ns="$(arg mav_name)" -->
  <node name="nbvPlanner" pkg="nbvplanner" type="nbvPlanner" output="screen">
    <param name="tf_frame" type="string" value="$(arg tf_planning_frame)" />
    <param name="resolution" type="double" value="$(arg resolution)" />
    <param name="visualize_max_z" type="double" value="$(arg visualize_max_z)" />
    <param name="sensor_max_range" type="double" value="$(arg sensor_max_range)" />
    <param name="map_publish_frequency" type="double" value="1.0" />
    <param name="stl_file_path" type="string" value="$(find interface_nbvp_neo)/mesh/structure.stl" />
    <param name="mesh_resolution" type="double" value="0.5" />
    <remap from="cam0/camera_info" to="cam0/camera_info"/>
    <remap from="cam1/camera_info" to="cam1/camera_info"/>
    <remap from="pointcloud_throttled" to="stereo_dense_reconstruction/pcl"/>
    <remap from="pointcloud_throttled_up" to="cam1/mono_dense_reconstruction_up/pcl"/>
    <!--remap from="pointcloud_throttled_down" to="cam3/mono_dense_reconstruction_down/pcl"/-->
    <remap from="pose" to="msf_core/pose"/>
    <remap from="nbvplanner" to="nbvplanner"/>
    <rosparam command="load" file="$(find interface_nbvp_neo)/resource/inspection.yaml" />
  </node>
 <!--/group-->
</launch>
