<launch>
  <node pkg="rosbag" type="record" name="rosbag_record_nbvp"
       args="--size=2000 --split -o $(find nbvplanner)/data/nbvp_experiment /euroc6/cam0/camera_info /euroc6/cam0/image_raw /euroc6/cam1/camera_info /euroc6/cam1/image_raw /euroc6/cam2/camera_info /euroc6/cam2/image_raw /euroc6/cam3/camera_info /euroc6/cam3/image_raw /clock /euroc6/stereo_dense_reconstruction/pcl /euroc6/mono_dense_reconstruction_up/pcl /euroc6/mono_dense_reconstruction_down/pcl /euroc6/msf_core/pose /tf /euroc6/nbvPlanner/octomap_occupied /euroc6/nbvPlanner/octomap_free /euroc6/nbvPlanner/octomap_full /euroc6/inspectionPath" />
</launch>
