<launch>
  <node name="OctomapToMesh" pkg="octomap_to_mesh" type="octomap_to_mesh_node" output="screen">
    <param name="mesh_file_name" type="string" value="meshBaseline.stl" />
    <param name="bbx/minX" type="double" value="-10" />
    <param name="bbx/maxX" type="double" value="-10" />
    <param name="bbx/minY" type="double" value="-0.5" />
    <param name="bbx/maxY" type="double" value="10" />
    <param name="bbx/minZ" type="double" value="10" />
    <param name="bbx/maxZ" type="double" value="-3.0" />
    <remap from="octomap_full" to="/server/octomap_manager/get_map"/>
  </node>
</launch>
